@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #cfc3c3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html{
  scroll-behavior: smooth;
  background-color: white;
}

body {
  background-color: white;
  color: rgba(7, 7, 7, 0.5);
  font-family: Arial, Helvetica, sans-serif;
}
@keyframes scroll {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}

@media screen and (max-width: 500px) {
  .animate-scroll {
    animation: scroll 20s linear infinite;
  }
}
